.Intro{
  text-align: center;
  background: linear-gradient(-20deg,#72BCBB 0%,#9DCCA8 50%, #C7DD95 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.App-logo {
  height: 30%;
  width: 70%;
  pointer-events: none;
  background: rgba(255, 255, 255);
  border-radius: 100px;
}

.lang-select-box {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  button {
    color: rgb(31, 78, 117);
    //text-decoration: none;
    border: none;
    background: none;
    padding: 10px;
    width: 60px;
    font-size: calc(10px + 2vmin);
    //border: solid transparent 3px;
    //border-radius: 15px;

    //border-color: rgba(255, 255, 255, 0.534);

    &:hover {
      text-decoration: underline;
      //border-color: #abebd9dc;
      //background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
      color: #3ba58e;
      cursor: pointer;
    }
  }
}


/* .App-header { //default app hreader, good example
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
